
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

::-webkit-scrollbar{
  display: none;
}

*{
  font-family: jost;
}

html{
  scroll-behavior: smooth;
}
.icons{
  margin-right: 6rem;
  
}
@media (max-width: 460px) {
  .active{
     
    display: none;
  }
  .paragraph{
    width: 130%;
    margin: 2rem;
    
  }
  .resume{
    margin-right:  6rem;
  }
  .skills-dev{
    margin-right: 4rem;
    letter-spacing: 1px;
  }
  .image-1{
    margin-right: 2rem;
  }
  .tech-stack{
    display: none;
  }
  .project-div{
    width: 100%;
    margin-right: 6rem;
  }
  .paragraph-2{
    width: 100%;
  }
  .button-div{
    width: 60%;
    display: flex;
   align-items: center;
  }
  .button{
   padding: 2px 4px 8px 0;
   margin-top: 2rem;
   font-size: medium;
   
  }
  .button-1{
    font-size: 1.6rem;
  }
  .imagify{
    width: 100%;
   
    margin-left: 4rem;
  }
}
